.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  padding: 30px 80px 40px;
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.header__image {
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
  padding: 0;
  position: absolute;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
  margin: 30px 30px 0;
}

.nav__links {
  display: flex;
  padding: 0;
  margin: 30px 0 80px;
  gap: 20px;
  list-style-type: none;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
}

.nav__link {
  color: #000;
  text-decoration: none;
}

.nav__link:hover {
  color: #1f69c9;
}

.header__title {
  max-width: 729px;
  font-size: 60px;
  line-height: 72px;
  margin-top: 183px;
  letter-spacing: -0.6px;
  font-weight: 500;
  z-index: 1;
  font-family: "Inter", Arial, sans-serif;
}

.header__description {
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin-top: 28px;
  z-index: 1;
  font-family: "Noto Serif", Times New Roman, serif;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", Times New Roman, serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.header__footer_content_hours {
  margin-bottom: 40px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__footer_adress {
  margin-bottom: 40px;
  margin-right: 80px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__paragraph {
  margin: 0;
}

.recipes {
  padding: 100px 80px 215px;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.recipes__title {
  max-width: 580px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
}

.recipes__subtitle {
  max-width: 438px;
  font-family: "Noto Serif", Times New Roman, serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin-top: 24px;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  margin-top: 80px;
  justify-content: center;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  bottom: 215px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  color: #fff;
  gap: 24px;
}

.reservation {
  padding: 100px 0 120px;
  background-image: url("../images/background_reservation.svg");
  background-color: #d9e7ff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation__title {
  margin: 0 0 80px;
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0 auto;
}

.form {
  max-width: 385px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  margin-top: 8px;
  border-radius: 4px;
  height: 60px;
}

.form__input::placeholder {
  font-family: "Inter";
  font-size: 20px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
  color: #838383;
  padding-left: 5%;
}

.form__button {
  width: 100%;
  padding: 0;
  margin-bottom: 32px;
  border-radius: 4px;
  opacity: 100%;
  transition: opacity 0.2s ease-in-out;
  height: 60px;
  background-color: #2f80ed;
  color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__button:hover {
  opacity: 70%;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  border-radius: 2px;
  gap: 12px;
}

.form__checkbox {
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url("../images/check.svg");
  width: 20px;
  height: 20px;
  margin: 0;
}
